<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebBazaar</title>
</head>
<body>
<h1>WebBazaar</h1>
<hr>

<h4>Admin Panel</h4>
<table th:border="1">
    <tr>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Activity</th>
        <th>Roles</th>
        <th>Ban</th>
        <th>Editing</th>
        <th>Detailed Information</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.email}"/>
        <td th:text="${user.phoneNumber}"/>
        <td th:text="${user.active}"/>
        <td th:each="role : ${user.roles}">
            <span th:text="${role}"/>
        </td>
        <td>
            <div th:if="${user.isActive()}">
                <form th:action="@{'/admin/user/ban/' + ${user.id}}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" value="Ban">
                </form>
            </div>
            <div th:unless="${user.isActive()}">
                <form th:action="@{'/admin/user/enable/' + ${user.id}}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" value="Enable">
                </form>
            </div>
        </td>
        <td><a th:href="@{/admin/user/edit/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/user/{id}(id=${user.id})}">Подробная информация</a></td>
        <td th:text="${user.email}"/>
    </tr>
    <tr th:if="${users.isEmpty()}">
        <td colspan="6">
            <h3>No users</h3>
        </td>
    </tr>
</table>
</body>
</html>