<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebBazaar</title>
</head>
<body>
<h1>WebBazaar</h1>
<hr>
<h4>Detailed information about the product</h4>

<div th:each="image : ${images}">
    <img th:src="@{'/images/' + ${image.id}}" height="60px"/><br><br>
</div>

<hr>
<b>Product name: </b><span th:text="${product.title}"></span><br/>
<b>Product description: </b><span th:text="${product.description}"></span><br/>
<b>Product price: </b><span th:number="${product.price}"></span><br/>
<b>City: </b><span th:text="${product.city}"></span><br/>
<b>Author: </b><span th:text="${product.author}"></span><br/>
<hr>
<form th:action="@{'/product/delete/' + ${product.id}}" method="post">
    <input type="submit" value="Delete product">
</form>
</body>
</html>