<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebBazaar</title>
</head>
<body>
<h1>WebBazaar</h1><br>
<h4>Registration</h4>
<form action="/registration" method="post">
    Username: <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>
    Phone Number: <input type="text" name="phoneNumber"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Sign up">
</form>
<div th:if="${errorMessage}">
    <h2 style="color: red" th:text="${errorMessage}"></h2>
</div>
</body>
</html>