<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebBazaar</title>
</head>
<body>
<h1>WebBazaar</h1><br>
<h3>Update User Role</h3>
<form th:action="@{/admin/user/edit/{id}(id=${user.id})}" method="post">
    <label>
        <input type="checkbox" name="ROLE_USER" th:checked="${user.roles.contains('ROLE_USER')}"/> User
    </label>
    <label>
        <input type="checkbox" name="ROLE_ADMIN" th:checked="${user.roles.contains('ROLE_ADMIN')}"/> Admin
    </label>
    <button type="submit">Update</button>
</form>

<form th:action="@{/admin/user/delete/{id}(id=${user.id})}" method="post">
    <button type="submit">Delete</button>
</form>
</body>
</html>